section{
    margin-top:100px;
}
div{
    height:50px;
    width:200px;
    text-align: center;
    background-color: #7aa874;
    border:10px;
    margin:10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color:#ebb02d;
}
/* transform rotate*/
#one{
    transform:rotate(45deg) ;
}
/* transfoem scale*/
#two{
    transform: scale(0.5);
}
#three{
    transform: translateX(-100px);
}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(40deg);
    transform: skew(35deg);
    transform:scale(2)
}